@import "tailwindcss";

@theme {
  --color-brand: #00d2ff;
  --color-brand-hover: #00a8ff;
}

@variant dark (&:where(.dark, .dark *));

/* Reset agresivo anti-scroll */
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; Prohibido el scroll total */
  /* position: fixed;  fixed para fijar el fondo en móviles */
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}